<section>
    <form id="blogForm">
        <h3>Blog Title</h3>
        <input type="text" id="blogTitle">
        <title class="blog-title"></title>

        <h3>Blog Content</h3>
        <input type="text" id="blogEntry">
        <p class="blog-entry"></p>
        <button>Submit</button>
    </form>
</section>